* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Arial';
    list-style: none;
    font-size: 1.2rem;
}

@font-face {
    font-family: Hubbali;
    src: url(Hubballi-Regular.ttf) format('truetype');
}

p {
    transition: 1s;
}

a {
    font-family: 'Hubbali';
    font-size: 1.5rem;
    padding-right: 10px;
    padding-left: 10px;
    
    
}


:root {
    --cor01: #F3D9B1;
    --cor02: #C29979;
    --cor03: #A8C256;
    --cor04: #813405;
    --cor05: #69626D;
}

body {
    background-color: white;
    
}

header {
    background-color: var(--cor05);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    padding-bottom: 0px;
    ;
}

header a{
    word-wrap: normal;
    text-align: center;
    font-family: 'Hubbali';
}

header h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}

header li {
    padding-bottom: 0px;
}

header a {
    
    text-decoration: none;
    color: white;
}

header li :hover {
    transition: .5s;    
    color: var(--cor03);
    transform: translateY(-10px);
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    bottom: 0;
}

.container-galeria {
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
}

.item-galeria {
    position: relative;
    
}

.item-galeria .img-galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}





.item-galeria .title-galeria {
    position: absolute;
    background: rgba(26, 25, 25, 0.562);
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

strong {
    font-weight: bold;
    font-size: 1.7rem;
    
}



@media (max-width:1245px) {

    header {
        transition: 1s;
    }

    

    strong {
        font-size: 1.3rem;
    }
    
}

@media (max-width:642px) {
    
header {
    padding-bottom: 0px;
    justify-content: center;
    transition: 1s;
}

header li {
    padding-bottom: 0px;
}



td {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

.f-1 {
    display: block;
    width: 100%;
    
}

.container-galeria {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    }



}