* {
    
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 1.2rem;
}

:root {
    --cor01: #F3D9B1;
    --cor02: #C29979;
    --cor03: #A8C256;
    --cor04: #813405;
    --cor05: #69626D;
}

body {
    background-color: white;
    
}

header {
    background-color: var(--cor05);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    padding-bottom: 0px;
}

header a{
    word-wrap: normal;
    text-align: center;
}

header h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}

header li {
   
    padding-bottom: 0px;
}

header a {
    text-decoration: none;
    color: white;
}

header li :hover {
    transition: 0.5s;
    background-color: #7e7583;
    color: var(--cor03);
    border-radius: 10px;
    height: 100%;
    padding: 0px;
    
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.img {
    
    display: block;
    background-color: #92D9FF;
    padding: 10px;
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: center;
    margin: 0 auto;
    background-color: #92D9FF;
}

.flex > article {
    flex: 1 1 250px;
    transition: .5s;
    padding: 10px;
    line-height: 40px;
    text-align: center;
    background-color: var(--cor03)
}

.flex2 {
    background-color: white;
    display: flex;
    min-width: 96vw;
    
    
}

.flex2 p {
    width: 100%;
    font-size: 1.3rem;
    padding: 5px;
    
    
}

article {
    transition: .5s;
}

td {
    padding: 5px;
    font-size: 1.7rem;
    line-height: 80px;
    text-align: left;
    padding-left: 20px;
}

thead {
    text-align: center;
}

th {
    background-color: var(--cor02);
    color: white;
    width: 50vw;
}

.texto {
    transition: 0.5s;
    background-color: #fff;
    color: black;
    text-align: justify;
    font-size: 1.2rem;
    padding: 15px;
}

.pequena {
   
    width: 275px;
    height: 183px;
    display: block;
    

}

.separador {
    background-color: var(--cor05);
    height: 5px;
    padding: 0px;
} 



@media (max-width:1445px) {
    th {
        text-align: center;
        width: 100vw;
        margin-left:auto;
        margin-right: auto;
        transition: .5s;
    }

    article {
        padding: 0px;
    }

    .capa {
        width: 96vw;
    }

}

@media (max-width:999px) {

    header {
        transition: 1s;
    }

    .flex2 {
        justify-content: center;
        
    }

    .flex2  {
        flex-wrap: wrap;
    }

    article {
        justify-content: center;
        
    }

    .capa {
        min-width: 96vw;
    }

    

    table {
        
        margin-left: auto;
        margin-right: auto;
        transition: 1s;
    }

    

    

    td {
        text-align: center;
        padding: 0px;
        line-height: 50px;
        font-size: 1.2rem;
        
    }
}

@media (max-width:642px) {
    
header {
    padding-bottom: 0px;
    justify-content: center;
    transition: 1s;
}

header li {
    padding-bottom: 0px;
    
}



.pequena {
    width: 275px;
    height: 183px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}





    
    
}