* {
    
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 1.2rem;
}

@font-face {
    font-family: Hubbali;
    src: url(Hubballi-Regular.ttf) format('truetype');
}



p {
    font-family: 'Hubbali';
    font-size: 1.5rem;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    
}

:root {
    --cor01: #F3D9B1;
    --cor02: #C29979;
    --cor03: #A8C256;
    --cor04: #813405;
    --cor05: #69626D;
}

body {
    background-color: white;
    
}

header {
    background-color: var(--cor05);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    padding-bottom: 0px;
    
    ;
}

header a{
    word-wrap: normal;
    text-align: center;
    font-family: 'Hubbali';
    font-size: 1.5rem;
}

header h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}

header li {
   
    padding-bottom: 0px;
}

header a {
    
    text-decoration: none;
    color: white;
}

header li :hover {
    transition: .5s;
    
    color: var(--cor03);
    
    
    
    
    transform: translateY(-10px);
    
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    bottom: 0;
}

.img {
    
    
    background-color: #92D9FF;
    padding: 10px;
   
   
    
}
/*
.pequena3:hover {
    
    transition: .5s;
    position: relative;
    
    left: 50%;
    
    transform: scale(1.5);
    
    
}
*/
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: center;
    margin: 0 auto;
    background-color: #92D9FF;
    
}

.flex > article {
    flex: 1 1 250px;
    transition: 1s;
    padding: 10px;
    line-height: 30px;
    text-align: right;
    background-color: var(--cor03);
    
}







.flex2 {
    background-color: var(--cor01);
    display: flex;
    
    
    
}

.flex2 p {
    
    font-size: 1.5rem;
    
    text-align: left;
    
    
    
}

.flex2 {
    
    min-width: 96vw;
}

article, .texto{
    transition: 1s;
    
    margin-left: auto;
    margin-right: auto;
    width:1000px;
}



td {
    padding: 5px;
    
    padding-bottom: 20px;
    font-size: 1.7rem;
    line-height: 50px;
    text-align: left;
    
    
}

thead {
    text-align: center;
}

th {
    background-color: var(--cor02);
    color: white;
    width: 50vw;
}

.texto {
    
    transition: 1s;
    background-color: var(--cor01);
    color: black;
    
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}

.texto p{
    transition: 1s;
    padding-top: 20px;
    margin-top: 120px;
}

.pequena {
    float: left;
    width: 275px;
    height: 183px;
    margin-right: 10px;
    margin-left: 0px;
}

.flex3 {
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    justify-items: center;
    background-color: var(--cor03);
    min-width: 98vw;
}



.aparencia p {
    text-align: left;
    
    
    margin-top: 50px;
}

 
    

#paparencia {
    margin-top: 50px;
    padding-right: 10px;
    
}

#pdieta {
    margin-top: 50px;
}

#phabitos {
    padding-bottom: 10px;
}

#pcativeiro {
    padding-bottom: 10px;
    text-align: left;
}

.pequena2 {
    width: 275px;
    height: 183px;
    display: block;
    float: right;
    right: 0;
    
    margin-left: auto;
    padding: 0px 0px 0px 10px
}

.aparencia h1{
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    margin-top: 10px;
    
    font-size: 1.5rem;
}

.aparencia .aparenciatitulo{
    float: left;    
    margin-left: 40px;
}

#cativeiro {
    float: left;
}

#dieta {
    float: left;
    width: fit-content;
    height: fit-content;
    margin-left: 40px;
}

.aparencia #geografia {
    
    
    float: right;
    
    
    margin-right: 40px;
    
}

#habitos {
    float: right;
    margin-right: 40px;
}

#cativeiro {
    margin-left: 40px;
    float: left;

}

.aparencia .pequena3{
    min-width: 275px;
    height: 183px;
    float: left;
    margin-top: 20px;
    display: block;
    margin-right: 10px;
    
}

strong {
    font-weight: bold;
    font-size: 1.7rem;
    
}

@media (max-width:1445px) {
    th {
        text-align: center;
        width: 100vw;
        margin-left:auto;
        margin-right: auto;
        transition: 1s;
    }

    p {
        padding-right: 10px;
        padding-left: 10px;
    }

    table {
        
        margin-left: auto;
        margin-right: auto;
        transition: 1s;
    }

    .flex {
        justify-content: center;
        
    }

    .capa {
        width: 96vw;
    }

    

}

@media (max-width:1245px) {

    header {
        transition: 1s;
    }

    .flex2  {
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex3 {
        justify-content: center;
        flex-wrap: nowrap;
    }

    

    article {
        justify-content: center;
        
    }

    .capa {
        min-width: 96vw;
    }

     

    table {
        margin-left: auto;
        margin-right: auto;
        transition: 1s;
    }
    
    
    
    td {
        text-align: center;
        line-height: 30px;
        font-size: 1.3rem;
    }

    strong {
        font-size: 1.3rem;
    }
    .aparencia .pequena3{
        min-width: 275px;
        height: 183px;
        float: left;
        margin-right: 10px;
    }

}

@media (max-width:642px) {
  


header {
    padding-bottom: 0px;
    justify-content: center;
    transition: 1s;
}

header li {
    padding-bottom: 0px;
}



td {
    text-align: left;
}

.binomial {
    text-align: left;
}



.pequena {
    width: 275px;
    height: 183px;
    
    padding-bottom: 10px;
    
    display: block;
    margin-left: auto;
    
}

.pequena2 {
    min-width: 275px;
    height: 183px;
    padding-bottom: 0px;
    display: block;
   
}

.aparencia h1{
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
}

.flex2 p {
    font-size: 1.3rem;
}

p {
    text-align: left;
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    transition: 1s;
}
 
#paparencia {
    text-align: left;
}

.aparencia #geografia {
    float: top;
}

.aparencia .pequena4{
    min-width: 275px;
    height: 183px;
    float: left;
    padding-right: 10px;
}
 


}